POSTGRES_DB=gatesensor_prod
POSTGRES_USER=gatesensor
POSTGRES_PASSWORD=change-me

ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=gatesensor_prod;Username=gatesensor;Password=change-me
Redis__ConnectionString=redis:6379
Mqtt__Host=mosquitto
Mqtt__Port=1883
Mqtt__Username=change-me
Mqtt__Password=change-me
ASPNETCORE_ENVIRONMENT=Production
